@import url('https://fonts.googleapis.com/css2?family=B612+Mono&display=swap');

@keyframes bg {
    0% {
        background-position: 0% 50%;
    }
    
    50% {
        background-position: 100% 50%;
    }
    
    100% {
        background-position: 0% 50%;
    }
}

* {
    margin: 0;
    padding: 0;
    background-size: cover;
}

body {
    background-color: #1a1a1a;
    background: linear-gradient(90deg, #692b2b, #503055, #7e487e, #4e48a3) no-repeat center center fixed;
    background-size: 400% 400%;
    background-repeat: no-repeat;
    animation: bg 10s none infinite;
    color: #fff;
    font-family: 'B612 Mono', monospace;
    letter-spacing: .25em;
    margin: 1rem;
}

.header hr {
    margin-top: 12pt;
    margin-bottom: 12pt;
    align-self: baseline;
    width: 100%;
    border: 1px dashed #5a3a5a;
}


h1.title {
    letter-spacing: 3em;
    position: relative;
    right: -1em;
}

nospace {
    letter-spacing: normal;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 2rem 4rem 2rem;
    justify-self: center;
}

.about {
    padding: 4rem 2rem 4rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

strong {
    color: #faf;
}

s {
    color: #777;
}

.about hr {
    margin-top: 12pt;
    margin-bottom: 12pt;
    width: 75%;
    border: 1px dashed #3a5a4f;
}